
<!--BEGIN ROW-->
<div class="row">
  
  <!--BEGIN COL-->
  <div class="col s6 offset-s3">
    <br>
    <br>
    <br>
    <%= form_for :session, url: sign_in_path do |f| %>
    <!--BEGIN CARD-->
    <div>
      <img src="https://s32.postimg.org/cqan1fuh1/Seu_Engenheiro.png" class="logo-login"></img>
    </div>
            <div class="field">
              <%= f.label :login, 'Login' %><br />
              <%= f.text_field :login, autofocus: true %>
            </div>
           
            <div class="field">
              <%= f.label :password , 'Senha' %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
            
      <div class="text-align center">
        <div class="input-field">
          <%= f.submit "Entrar", :class => "btn cyan", :style => "width: 100%" %>
        </div>
        <div class="input-field">
          <%= link_to "Cadastre-se aqui", new_usuario_path, :style => "margin: 0" %>
        </div>
      </div>
            
  </div>

    <!--END CARD-->
    
    <% end %>
  
  </div>
  <!--END COL-->
  
</div>
<!--END ROW-->