<p id="notice"><%= notice %></p>

<h1>Relatorios Colaborador</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Demanda</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relatorios_colaborador.each do |relatorio_colaborador| %>
      <tr>
        <td><%= relatorio_colaborador.descricao %></td>
        <td><%= relatorio_colaborador.demanda_id %></td>
        <td><%= link_to 'Show', relatorio_colaborador %></td>
        <td><%= link_to 'Edit', edit_relatorio_colaborador_path(relatorio_colaborador) %></td>
        <td><%= link_to 'Destroy', relatorio_colaborador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relatorio Colaborador', new_relatorio_colaborador_path %>
