<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @relatorio_colaborador.descricao %>
</p>

<p>
  <strong>:</strong>
  <%= @relatorio_colaborador. %>
</p>

<p>
  <strong>Demanda:</strong>
  <%= @relatorio_colaborador.demanda_id %>
</p>

<p>
  <strong>:</strong>
  <%= @relatorio_colaborador. %>
</p>

<p>
  <strong>Demanda:</strong>
  <%= @relatorio_colaborador.demanda_id %>
</p>

<p>
  <strong>:</strong>
  <%= @relatorio_colaborador. %>
</p>

<%= link_to 'Edit', edit_relatorio_colaborador_path(@relatorio_colaborador) %> |
<%= link_to 'Back', relatorios_colaborador_path %>
