<%= form_for(demanda) do |f| %>
  <% if demanda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(demanda.errors.count, "error") %> prohibited this demanda from being saved:</h2>

      <ul>
      <% demanda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :estado %>
    <% f.object.pessoa_id = Usuario.find(current_user).pessoa_id%>
    <%= f.hidden_field :pessoa_id%>
    
<div class="card">
    <div class="card-content">
      <div class="input-field col s12">  
        <span class="card-title">Sobre a demanda</span>
        <div class="input-field col s12">
          <%= f.label :descricao %>
          <%= f.text_area :descricao, size: "50x25", :class => "materialize-textarea" %>
        </div>
      </div>
    </div>
</div>

<div class="card">
    <div class="card-content">
    <span class="card-title">Endereço</span>
    <%f.object.endereco ||= Endereco.new%>
      <%= f.fields_for :endereco do |f3|%>
        <div class="input-field col s12">
          <%= f3.select :cidade_id, Cidade.all.collect { |p| [ p.localidade, p.id ] } %>
          <%= f3.label 'Cidade' %>
        </div>
  
        <div class="input-field col s12">
          <%= f3.label :numero %>
          <%= f3.text_field :numero %>
        </div>
        <div class="input-field col s12">
          <%= f3.label :logradouro %>
          <%= f3.text_field :logradouro %>
        </div>
        <div class="input-field col s12">
          <%= f3.label :complemento %>
          <%= f3.text_field :complemento %>
        </div>
        <div class="input-field col s12">
          <%= f3.label :cep %>
          <%= f3.text_field :cep %>
        </div>
        
      <%end%>
  </div>
</div>

<div class="input-field col s12">
  <%= f.submit 'Enviar', :class => "btn cyan right" %>
</div>
      
  
<% end %>

<script>
  $(document).ready(function() {
    $('select').material_select();
  });
  
  $(document).on('change', input_selector, function () {
      if($(this).val().length !== 0) {
       $(this).siblings('label, i').addClass('active');
      }
   });
</script>