<%= form_for(grupo_demandas) do |f| %>
  <% if grupo_demandas.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grupo_demandas.errors.count, "error") %> prohibited this grupo_demandas from being saved:</h2>

      <ul>
      <% grupo_demandas.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <th> Demandas: </th>
    <%= f.collection_check_boxes :demanda_ids, Demanda.all.where("grupo_demandas_id is null"), :id, :codigo %>
  </div>

  <div class="field">
    <th> Equipe: </th>
    <%= f.collection_check_boxes :colaborador_ids, Colaborador.all, :id, :nome %>
  </div>

  <div class="field">
    <%= f.label :estado %>
    <%= f.select :estado, GrupoDemandas::ESTADO%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
