<p id="notice"><%= notice %></p>

<p>
  <strong>Path:</strong>
  <%= @anexo_relatorio_colaborador.path %>
</p>

<p>
  <strong>Relatorio colaborador:</strong>
  <%= @anexo_relatorio_colaborador.relatorio_colaborador %>
</p>

<%= link_to 'Edit', edit_anexo_relatorio_colaborador_path(@anexo_relatorio_colaborador) %> |
<%= link_to 'Back', anexo_relatorios_colaborador_path %>
