<%= form_for(usuario) do |f| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <!--<h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>-->

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s12">
    <%= f.label :login %>
    <%= f.text_field :login, :required => true %>
  </div>

  <div class="input-field col s12">
    <%= f.label :password, 'Senha' %>
    <%= f.password_field :password %>
  </div>

  <div class="input-field col s12">
    <%= f.label :password_confirmation, 'Redigite a Senha' %>
    <%= f.password_field :password_confirmation %>
  </div>
  <%f.object.pessoa ||= Pessoa.new%>
  <%= f.fields_for :pessoa do |ff|%>

    <div class="input-field col s12">
      <%= ff.label :nome %>
      <%= ff.text_field :nome %>
    </div>

    <div class="input-field col s12">
      <%= ff.label :cpf %>
      <%= ff.text_field :cpf %>
    </div>

    <div class="input-field col s12">
      <%= ff.label :rg %>
      <%= ff.text_field :rg %>
    </div>

     <div class="input-field col s12">
      <%= ff.label :data_nascimento %>
      <%= ff.date_field :data_nascimento %>
    </div>

    <div class="input-field col s12">
      <%= ff.label :email %>
      <%= ff.email_field  :email %>
    </div>

    <div class="input-field col s12">
      <%= ff.label :telefone %>
      <%= ff.text_field :telefone %>
    </div>

     <div class="input-field col s12">
      <%= ff.label :celular %>
      <%= ff.text_field :celular %>
    </div>
    <%ff.object.endereco ||= Endereco.new%>
    <%= ff.fields_for :endereco do |f3|%>
      <div class="input-field col s12">
      <!--<div class="field">-->
        <%= f3.select :cidade_id, Cidade.all.collect { |p| [ p.localidade, p.id ] } %>
        <%= f3.label 'Cidade' %>
      </div>

      <div class="input-field col s12">
      <%= f3.label :numero %>
      <%= f3.text_field :numero %>
      </div>
      <div class="input-field col s12">
        <%= f3.label :logradouro %>
        <%= f3.text_field :logradouro %>
      </div>
      <div class="input-field col s12">
        <%= f3.label :complemento %>
        <%= f3.text_field :complemento %>
      </div>
      <div class="input-field col s12">
        <%= f3.label :cep %>
        <%= f3.text_field :cep %>
      </div>
    <%end%>

  <%end%>

  

  <div class="row">
    <%= f.submit "Cadastrar-se", :class => "btn" %>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>